<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        template <code>index.html</code><br>
        {{ partial "header.html" . }}
        <h2>All the stuff</h2>
        {{ range .Site.AllPages }}
        <a href="{{ .Permalink }}">{{ .Title }} ({{ .Type }}, {{ .BundleType }})</a><br>
        {{ end }}
        <h2>News</h2>
        {{ range first 10 .Site.Pages -}}
            {{ if eq .Type "news" }}
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Date.Format "02 January 2006" }}</h3>
            {{ .Description }}
            {{ end }}
        {{- end }}
        <hr>
        <h2>Pages</h2>
        {{ range first 10 .Site.RegularPages -}}
            {{ if eq .Type "page" }}
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Date.Format "02 January 2006" }}</h3>
            {{ .Description }}
            {{ end }}
        {{- end }}
        <h2>This is the <code>index</code> content</h2>
        {{ .Content }}
    </body>
</html>